{
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    ["@babel/plugin-proposal-class-properties", { "loose": false }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "core-js@3",
        "modules": "cjs",
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ]
}
